<html>
    <body>
        <ul>
            <li>
                <a href="@Url.Action("Index_Jquery", "Home")">
                    Jquery
                </a>        
            </li>
            <li>
                <a href="@Url.Action("Index_Iml", "Home")">
                    IML
                </a>
            </li>
        </ul>
    </body>
</html>